@import './variables.css';
@import './classes.css';

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-1);
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #919191;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: block;
}

*::-webkit-scrollbar-track {
  background: var(--gray-3);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-5);
  border-radius: 6px;
}

